
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  font-weight: normal;
  text-decoration: none;
}


.App {
  padding-left: 5%;
  padding-right: 5%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin: 18px 0px 24px 0px;
}
.cityselector {
  font-size: 1.2em;    
}
.loader {
  background: #237b98;
  color: white;
  border: none;
  font-size: .8em;
  border-radius: 3px;
  padding: 12px 12px;
}
.restoView {
  display: flex;
  flex-wrap: wrap;
}

.price-icons {
  margin-top: 6px;
  padding-right: 3px;
  display: flex;
}
.restoCard {
  display: flex;
  padding-bottom: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid lightgray;
  max-width: 400px;
  width: 100%;
} 

@media (min-width: 400px) {  
  .restoCard {
    display: flex;
    padding: 9px;
    margin-bottom: 12px;
    margin-right: 12px;
    max-width: 400px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;      
  }   
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 21px;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.restoPreview {
  display: inline;
  margin: 0 auto;  
  height: 100%;
  width: 100%;
}

.restoname {
  font-size: 1.8em;
  padding: 21px 0px;
}

.cardrestoname {
  font-size: 1.2em;
  padding-bottom: 6px;
}

.modal__overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
}

.modal__view {  
  text-align: center;
  color: darkslategray;
  position: absolute;
  top: 42%;
  left: 50%;
  background: ghostwhite;
  border-radius: 2px;
  box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
  padding: 20px;
  transform: translate(-50%, -50%);  
  max-width: 400px;
  width: 100%;
}

.reservation_cta {
  background: #da3743;
  padding: 12px;
  margin-top: 24px;
  color: white;
  cursor: pointer;
}

.contact_msg {
  margin-top: 24px;
}

.contact_cta {
  margin-top: 12px;
  background: lightslategray;
  padding: 12px;  
  color: white;
  cursor: pointer;
}

.rescta_text {
  color: white;
}